<nav class="navbar navbar-expand-lg navbar-light bg-green">
  <a class="navbar-brand" href="/">
    <img class="logo" src="../../assets/logo.PNG"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/">
          <img class="icon-size" src="../../assets/homeIcon.png" />
          Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">

        <a class="nav-link text-white" href="/products">
          <img class="icon-size" src="../../assets/productIcon.png" />
          Products
        </a>
      </li>
    </ul>
    <a class="nav-link disabled text-white" href="/profile">
      <img class="icon-size" src="../../assets/myProfileIcon.png" />
      My Profile
    </a>
    <a class="nav-link disabled text-white" href="/myOrders">
      <img class="icon-size" src="../../assets/myOrdersIcon.png" />
      My Orders
    </a>
    <a class="nav-link disabled text-white" href="/cart">
      <img class="icon-size" src="../../assets/myCartIcon.png" />
      My Cart
    </a>
    <a class="nav-link disabled text-white" href="/admin">
      <img class="icon-size" src="../../assets/adminIcon.png" />
      Admin
    </a>
    <div class="btn-group">
      <button type="button" class="btn signin-border-btn btn-bg-brown text-white my-2 my-sm-0 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sign In
      </button>
      <form class="dropdown-menu p-4">
        <div class="form-group">
          <label for="exampleDropdownFormEmail2">Email address</label>
          <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
        </div>
        <div class="form-group">
          <label for="exampleDropdownFormPassword2">Password</label>
          <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck2">
          <label class="form-check-label" for="dropdownCheck2">
            Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
  </div>
</nav>
