<div class=" pt-4 pb-4 bg-green">

    <h1 class="text-center text-font bg-green">Collections</h1>
    <div class="container">
        <div class=" pt-4 row justify-content-center">
            <div class="col-sm">
                <div class="card pt-2 pb-2 bg-green card_border" style="width: 18rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    
                </div>
            </div>
            <div class="col-sm">
                <div class="card pt-2 pb-2 bg-green card_border" style="width: 18rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                    
                </div>
            </div>
            <div class="col-sm">
                <div class="card pt-2 pb-2 bg-green card_border" style="width: 18rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                
                </div>
            </div>
        </div>
    </div>
</div>